# Theortical Questions

Ans 1.
Function inside a class is called a method, which is one of the main differencebetween between the both.

Ans 2.
Parameters are the variables passed in defining the function,
but Arguments are the actual words,nums or the values.

Ans 3.
Defining a function:

def name():

body

Calling a function:

name(argument)

Ans 4.
Return is used for returning the argumented return variable.

Ans 5.
Iterable is object or sequential or data structure that is capable of returning its members one at a time.
While, iterator is an object representing steam of data.

Ans 6.
While, iteration will take more time to execute if, the computation is more, generator produces the results, one at a time.Yield is used to return a generator function.

Ans 7.
Using the generator, will benifit the memory storage as it will take less memory usage and at the same time as it returns the result when requested, less time would be taken for execution.

Ans 8.
Lambda function is a anonymous function with syntax lambda variable:expression.
It can be used for the operations using the expression instead of repeating the expression.

Ans 9.
It is used to perform a specific task or expression to all items in a list or iterable.

Ans 10.
The main difference between map(),reduce(),filter() is that map function applies the task to all, reduce applies it to each one by one and filter filters out the items.

Ans 11.
firstly, for using the reduce the reduce function, we need to import it:
From below, code,

firsty x and y are 47 and 11, then 58 and 42,then 100 and 13 and it results 113.

In [ ]:
from functools import reduce
l = [47,11,42,13]
reduce(lambda x,y: x+y, l)

113

# Practical Questions

In [ ]:
#Ans 1.
def addition(numbers):
    return sum(i for i in numbers if i % 2 == 0)
numbers = [1,2,3,4]
addition(numbers)

6

In [ ]:
#Ans 2.
def reverse(r):
  return r[::-1]
a = "good"
print(reverse(a))

doog

In [ ]:
#Ans 3.
def sq(numbers):
  return [i**2 for i in numbers ]
numbers = [1,2,3,4]
sq(numbers)

[1, 4, 9, 16]

In [ ]:
#Ans 4.

numbers = list(range(1,201))

def prime(num):
  if num<=1:
    return False

  for i in range(2,num):
    if num%i==0:
      return False
  return True

print("Prime numbers from1 to 200 are:")


for num in numbers:
  if prime(num):
    print(num, end = " ")

Prime numbers from1 to 200 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [ ]:
#Ans 5.

In [ ]:
#Ans 6.
def power(expo):
    for i in range(expo + 1):
        yield 2 ** i

In [ ]:
#Ans 7.

In [ ]:
#Ans 9.
def farenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
#Ans 10.
def vow(str):
  vowels = 'aeiouAEIOU'
  return ''.join(filter(lambda x:x not in vowels,str))
string ="good"
vow(string)

'gd'

In [ ]:
#Ans 11.